$icon_width: 79px;
$icon_height: 79px;
$num_icons: 9;
html, body { 
    height: 100%; 
}
body{
    background: lightgray;
    display: flex;
    justify-content: center;
	align-items: center;

}
.slots{
    position: relative;
    width: 3.5* $icon_width;
    height: 3* $icon_height;
    border: 1px solid black;
    padding: 0.3 * $icon_height; 
    display: flex;
    justify-content: space-between;
    
    
    .reel{
        position: relative;
        border: 1px solid black;
        width: $icon_width;
        height: 3* $icon_height;
        
        background-image: url(slotreel.webp);
        background-repeat: repeat-y;
        background-position: 0 0; 
        
        
    }
}
