{% extends 'base.html' %}
{% block content %}

<h2>name: {{name}}</h2>
<h3>{{player_score}}</h3>
<form method="post" class="buttons">
    <button
    type="submit" 
    name="logout" 
    class="logout">
    wyloguj</button>
</form>

<div class="message-box">
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" rows="3" placeholder="wiadomosc" name="message" id="message"/>
        <button type="button" name="send" id="send-btn" onclick="sendMessage()">send</button>
    </div>
</div>

<div class="spin-comp">
    <div class="spin-wyn" id="spin"></div>
    <button type="button" class="spin-btn" name="spin-btn" onclick="getgambasamba()">spin</button>
</div>
<div id="container"></div>


<script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages")
    const spin = document.getElementById("spin")

    const getgambasamba = () => {
        socketio.emit('gamba');
    };

    const createMessage = (name, msg, time) => {
        const content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}    
            </span>
            <span class="muted">
                ${time}
            </span>
        </div>
        `;
        messages.innerHTML += content;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message, data.time);
    });

    const sendMessage = () => {
        const message = document.getElementById("message")
        if(message.value == "")return;
        socketio.emit("new-message", {data: message.value });
        message.value="";
    };
    socketio.on("spin", (data) => {
        animateBox(data.rng1);
        animateBox(Math.floor(Math.random() * 4),0);
        animateBox(Math.floor(Math.random() * 4),1);
        animateBox(Math.floor(Math.random() * 4),2);
        const content = `
        <div class="text2">
            <span>
                ${data.rng1} ${data.rng2} ${data.rng3} 
            </span>
        </div>
        `;
        spin.innerHTML = content;
    });

    var img1 = "{{ url_for('static', filename='aaa.png') }}";
    var img2 = "{{ url_for('static', filename='bbb.png') }}";
    var img3 = "{{ url_for('static', filename='ccc.png') }}";
    var img4 = "{{ url_for('static', filename='ddd.png') }}";

    function animateBox(dik, kol=1) {
            var container = document.getElementById('container');
            var newBox = document.createElement('div');
            newBox.className = 'box';
            console.log("nowy");
            if(dik === 1) {
                newBox.style.backgroundImage = 'url(' + img1 + ')';
            }
            else if(dik === 2) {
                newBox.style.backgroundImage = 'url(' + img2 + ')';
            }
            else if(dik === 3) {
                newBox.style.backgroundImage = 'url(' + img3 + ')';
            }
            else {
                newBox.style.backgroundImage = 'url(' + img4 + ')';
            }
            newBox.style.left = (kol * 20) + 'vh';
            container.appendChild(newBox);


            requestAnimationFrame(function() {
                newBox.style.top = '500px';
                newBox.style.opacity = '0';
            });

            setTimeout(function() {
                container.removeChild(newBox);
                console.log("kill");
            }, 5000);
        }

</script>
{% for row in tmes %}
    <script type="text/javascript">
        createMessage("{{row[0]}}", "{{row[1]}}", "{{row[2]}}");
    </script>
{% endfor %}
{% endblock %}