{% extends 'base.html' %}
{% block content %}
<div class="nazwa-itd">
    <h2>name: {{name}}</h2>
    <div class="player-score" id="scoretab"></div>
    <form method="post">
        <button type="submit" name="logout" class="logout_btn">Sign out</button>
    </form>
</div>

<div class="message-box">
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" rows="3" placeholder="Message" name="message" id="message" class="message-input"/>
        <button type="button" name="send" id="send-btn" class="send-btn" onclick="sendMessage()">Send</button>
    </div>
</div>

<div class="spin-comp">
    <div class="slots">
        <div class="reel"></div>
        <div class="reel"></div>
        <div class="reel"></div>
    </div>
    <button type="button" class="spin-btn" name="spin-btn" onclick="getgambasamba()">spin</button>
</div>

<script src="{{ url_for('static', filename='sloty.js') }}"></script>
<script type="text/javascript">
    var socketio = io();
    let zrobione2 = false;
    const content2 = `
        <div class="text">
            <span class="text">
                {{player_score}}
            </span>
        </div>
        `;
    scoretab.innerHTML = content2;

    rollAll(["{{sloty_start[0]}}", "{{sloty_start[1]}}", "{{sloty_start[2]}}"], 5);
    setTimeout(() => {
        zrobione2=true;
    }, 2000);

    const messages = document.getElementById("messages")

    const createMessage = (name, msg, time) => {
        const content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}    
            </span>
            <span class="time">
                ${time}
            </span>
        </div>
        `;
        messages.innerHTML += content;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message, data.time);
    });

    const sendMessage = () => {
        const message = document.getElementById("message")
        if(message.value == "")return;
        socketio.emit("new-message", {data: message.value });
        message.value="";
    };

    const getgambasamba = () => {
        if(zrobione2 === false){
            return;
        }
        zrobione2 = false;
        socketio.emit('gamba');
        setTimeout(() => {
            zrobione2 = true;
        }, 5010);
    };
    
    socketio.on("spin", (data) => {
        console.log("spin")
        rollAll([data.rng1, data.rng2, data.rng3], 100);
        scoretab.innerHTML = data.score - 1;
        setTimeout(() => {
            scoretab.innerHTML = data.score_after;
        }, 5010);
    });
</script>
{% for row in tmes %}
    <script type="text/javascript">
        createMessage("{{row[0]}}", "{{row[1]}}", "{{row[2]}}");
    </script>
{% endfor %}
{% endblock %}
