{% extends 'base.html' %}
{% block content %}

<h2>name: {{name}}</h2>
<form method="post" class="buttons">
    <button
    type="submit" 
    name="logout" 
    class="logout">
    wyloguj</button>
</form>

<div class="message-box">
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" rows="3" placeholder="wiadomosc" name="message" id="message"/>
        <button type="button" name="send" id="send-btn" onclick="sendMessage()">send</button>
    </div>
</div>

<script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages")

    const createMessage = (name, msg, time) => {
        const content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}    
            </span>
            <span class="muted">
                ${time}
            </span>
        </div>
        `;
        messages.innerHTML += content;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message, data.time);
    });

    const sendMessage = () => {
        const message = document.getElementById("message")
        if(message.value == "")return;
        socketio.emit("message", {data: message.value });
        message.value="";
    };
</script>
{% for row in tmes %}
    <script type="text/javascript">
        createMessage("{{row[0]}}", "{{row[1]}}", "{{row[2]}}");
    </script>
{% endfor %}
{% endblock %}