{% extends 'base.html' %} {% block content %}
<form method="post" class="buttons">
    <div class="box1">
        <form action="">
            <h1>Sign in</h1>
            <div class="input-box">
                <input 
                type ="text"
                name="name" 
                value="{{name}}"
                placeholder="Username" 
                required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input 
                type ="text"
                name="mail" 
                value="{{mail}}"
                placeholder="Mail" 
                required>
                <i class='bx bxs-envelope'></i>
            </div>
            <div class="input-box">
                <input 
                type ="password"
                name="haslo"
                value="{{haslo}}" 
                placeholder="Password" 
                required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="button-container">
                <button type="submit" name="sign_in" class="btn">Register</button>
                <button type="submit" name="log_in" class="btn">Login</button>
            </div>

        </form>
    </div>

    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}