<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIKOLAJ SAWICKI</title>
</head>
<body>
    <h1>Fortnajt</h1>
    <form action="/submit" method="post">
        <label for="message">pisz tutaj skurczybyku:</label><br>
        <input type="text" id="message" name="message"><br>
        <button type="submit">Domestos</button>
    </form>
    <hr>
    <form action="/gamba" method="get">
        <button type="submit">GAMBA SHID</button>
    </form>
    {% if random_number %}
    <p>Random Number: {{ random_number }}</p>
    {% endif %}
    <hr>
    <h2>CHAT</h2>
    <ul>
        {% for row in messages %}
        <li>{{ row['message'] }}</li>
        {% endfor %}
    </ul>
</body>
</html>